body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Esto asegura que el cuerpo se extienda al menos al 100% de la altura de la ventana */
}

header, footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

main {
  flex: 1; /* Esto asegura que el contenido principal ocupe todo el espacio restante */
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

section {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#totalAmount {
  font-weight: bold;
}

footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  flex-shrink: 0; /* Esto evita que el footer se contraiga cuando hay poco contenido */
}

